<!-- //Dhavalbhai Patel
//301240436
//18 June -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: Home page -->
<main class="container" >
  <div class="mt-5 bg-primary" >
    <h1 class="p-5 " style="color: white!important"> Welcome to my world!!! my projects. </h1> 
  </div>
  <!-- <img src="http://localhost:3000/Assets/images/dhavalpic.jpeg"/> -->
  <button type="button" onclick="location.href='/about'" class="btn btn-success">Info</button>
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>




